h1 {
  text-align: center;
  color: pink;
  font-family: sans-serif;
}
/*  це селектор по тегу, значить кожен тег п на сторінці стане червоного кольору */
/* p{
    color: red;
} */
/* селектор по класу, для цього потрібно в хтмл придумати назву для класу(атрибут) і в цсс звертатись до нього і писати стилі(але не забувай ставити крапку перед назвою) */
/* .unique-text {
    color: green;
}

.brown-text {
    color: brown;
} */

body {
  text-align: center;
}

.game-item {
  box-shadow: 3px 4px 6px black;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.game-image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 400px;
  object-fit: cover;
}

.game-name {
  text-transform: capitalize;
  font-family: sans-serif;
}

/* 
- margin: зовнішні відступи від одного елементу до іншого(за межами рамки)
- padding: внутрішні відступи від рамки до контенту всередині елементу(розмір блоку завжди буде збільшуватись)

*/

/* 
Потік документу - це правила за якими елементи розуміють де вони будть знаходитись на сторінці і як вони будуть себе поводити з іншими елементами.

display - це одна з властивостей за допомогою якої можна керувати потоком документу

- display: block; (наприклад, div, p, h1)
    блочний елемент. Це означає, що:
    - він займає всю доступну йому ширину
    - поряд з блочними елментами не можуть стати інші елементи
    - блочним елементам можна задавати розміри(width, height), та відступи(margin, padding)
- display inline; (наприклад, img, a)
    строковий елемент. Це означає, що:
    - він займає ту ширину яка йому потрібна, щоб показати текст
    - поряд з строковими елментами можуть стати інші строкові елементи
    - строковим елементам НЕ можна задавати розміри(width, height), та відступи(margin, padding)
- display: inline-block; 
    строково-блочний елемент, він бере найкраще від блоку і інлайну, наприклад:
    - він займає ту ширину яка йому потрібна, щоб показати текст
    - поряд з строково-блочними елментами  можуть стати інші елементи
    - строково-блочним елементам можна задавати розміри(width, height), та відступи(margin, padding)
- display: none;
    Вирізання елементу з потоку документу, це означає, коли ти задаєш цей стиль - елемент просто пропадає зі сторінки так, начебто його ніколи там і не було

*/
.block-text{
    background-color: pink;
    width: 500px;
    margin-left: 500px;
    padding-top: 100px;
}

.inline-link{
    background-color: teal;
    width: 500px;
    padding-top: 100px;
    display: inline-block;
    margin-top: 50px;
}

.square{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 0 auto; /* так можна вирівняти по центру БЛОЧНИЙ елемент */
    display: none;
}

/* 
margin: 50px; - 50px по всім 4 сторонам
margin: 50px 70px; - 50 буде зверху і знизу, а 70 буде зправа і зліва
margin: 50px 70px 20px; - 50 зверху, 20 знизу, а 70 буде зправа і зліва
margin: 10px 20px 30px 40px; - 10 верх, 20 права, 30 низ і 40 ліво

*/