.block {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 15px;
  margin: 30px;
}

.relative {
  background-color: green;
  position: relative;
  top: 100px;
  left: 200px;
  /* position: relative;
  один зі способів керування потоком документу, коли ти задаєш відносне позиціонування, то тобі відкривається можливість рухати елемент за допомогою 4 нових властивостей (top, bottom, right, left) при цьому інші елементи будуть думати, що тей блок, який ти перемістив, нікуди не дівся, а стоїть на тому ж місці. Це дозволяє тобі рухати елементи як завгодно не хвилюючись за те, що твоя розмітка зламається. Тобто, позиціонування відбувається відносно самого себе не впливаючи на інші елементи.
  */
}

.absolute{
    background: blue;
    position: absolute;
    /* коли ти задаєш абсолютне позиціонування, елемент вирізається з потоку документу, це означає, що інші елементи думають, що твого вирізанного елементу більше не існує, відповідно, вони займають його місце. Це надає нам можливість вирівнювати абсолютний елемент відносно всієї сторінки, або відносно найближчого батька з властивістю position: relateive; or position: absolute; */
    bottom: 300px;
    right: 100px;
}